@tailwind base;
@tailwind components;
@tailwind utilities;

.height1 {
  height: 70vh;
}/* carousel */

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 4rem;
} /* für footer position */
