@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  min-height: 100vh;
  background-color: #111316;
} /* für footer position */
.height1 {
  height: 70vh;
  background-color: #111316;
} /* carousel */
.color1 {
  background-color: #111316;
  color: white;
}
.background {
  background-color: #111316;
}
.rose {
  color: rgb(225 29 72);
}
